* {
    margin: 0;
    padding: 0;
    
}
body {
    background: url('imagenes/textura-madera.jpg');
    font-family: 'Georgia', serif;
    background-repeat: repeat;
    background-position: fixed;
    background-size: 100%;
    color: #3e2f1c;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 button {
    background-color: #8b5e3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    height: 100%;
}

.cabeza{
    background-color: rgba(255, 248, 220, 0.95);
    background-size: cover;
    color: white;
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    border-top: 20px solid #6b4226 ;
}
.logo {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_ButonH {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 20px;
    margin-top: 5px;
}
.LogoH {
    height: 90%;
    width: 100%;
    background-image: url(imagenes/Logo.webp);
    background-size: 20%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
 .content_ButonH a {
    background-color: #8b5e3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.content_ButonH a:hover {
    background-color: #a47148;
    border-radius: 100px;
}
.Cuerpo{ 
    background-color: rgba(255, 248, 220, 0.95); /* crema claro */
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}
h1{
    margin-top: 5px;
    font-size: 40px;
    height: 5%;
    text-decoration: overline solid;
    text-shadow : 43px  16px  13px  #8b5e3c ;
    text-align: center;
}
h2{
    margin-top: 10px;
    font-size: 40px;
    height: 5%;
    text-decoration: overline solid;
    text-shadow : 43px  16px  13px  #8b5e3c ;
    text-align: center;
}
.IMGCAB1{
    width: 50%;
    height:100%;
    background-image: url(imagenes/frenteCasa.jpg);
    background-color: #3e2f1c;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-right: 5px;
}
.InfCab1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
	 word-break: break-word;
    overflow-y: auto; 
    padding-right: 10px;
    scroll-behavior: smooth;
}
.c{
    width: 100%;
    height: 33%;
    display: flex;
    
}
 p {
   
    color: #3e2f1c;
    font-family: 'Georgia', serif;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 0px;
    border-bottom: transparent;
    border-right: 5px solid #8b5e3c;
    border-radius: 0px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}
.IMGVID{
     height: 57%;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}
.btn-movido {
position: fixed;
  right: 75px;
  top: 10px;
}
.Pie{
    height: 5%;
    width: 90%;
     background-color: #6b4226;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5px ;
}
@media screen and (max-width: 1000px) {
  body {
    height: auto;
    min-height: 100vh;
  }

  .Cuerpo,
  .IMGVID,
  .cabeza {
    height: auto !important;
  }

  .IMGVID {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  }

  .IMGCAB1 {
    margin-top: 10px;
    min-height: 200px;
    background-size: contain;
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  .InfCab1{
    width: 100%;
    height: 50%;
    border: #3e2f1c solid 1px;
  }

  .c {
    height: 33%;
    flex-direction: column;
    align-items: center;
  }
  .LogoH {
    height: 100px !important;
    width: 50%;
    background-size: contain;
  }
   .Pie {
    height: 10% !important;
    min-height: 60px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    width: 87%;
  }
  h1{
     text-shadow : 43px  16px  25px  #8b5e3c ;
  }
  .btn-movido {
  position: fixed;
  right: 3px;
 
}

}
 @keyframes myAnim {
    0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
  }

  * {
    animation: myAnim 0.9s ease 0s 1 alternate backwards;
  }
/*aslkdslakflkjhasdlfkjhasdf*/
.slider-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 90%;
  align-items: center;
  object-position: center;
}

.slider {
  overflow: hidden;
}

.slide-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  user-select: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.nav-btn {
  top: 50%;
  position: absolute; 
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: black;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
  width: 40px;
  height: 100px;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
